body{
    background-color: #673ab7;
    
}
.form-container{
    position:absolute;
    top:15vh;
    background-color:#d3bbff ;
    padding:50px;
    border-radius:10px;
    box-shadow: 0px 0px 10px 0px;
}
.container-fluid{
    background-color: #673ab7;
}
